<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<p>
  <strong>Document category:</strong>
  <%= @document.document_category %>
</p>

<p>
  <strong>Downloads count:</strong>
  <%= @document.downloads_count %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
